body {
    background-color: #a9ba9d;

}
.title {
    font-family: georgia, helvetica, arial;
    font-size: 40px;
    color: 003333;
    /*Flexbox Application*/
    display: flex-start;
    padding: 20px;
    animation-name: title;
    animation-duration: 4s;
}
    /*Animation*/
@keyframes title {
    from {color:lightgreen;}
    to {color: black;}
    animation-duration: 60s;
}


/*Hamberburger Menu*/
.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 2%;
    right: 4%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: flex-start;
}

.navbar {
    width: 115px;
    height: 225px;
    background-color: slategray;
    position: fixed;
    top: -225px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 5% 5% 5%;
    transition: top 1s ease-in-out;
}

/*---Carousel--*/
.carousel {
    position: relative;
    padding: 4vh;
    margin: 0;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    background: transparent;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    object-fit: contain;    
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -40px;
}

.carousel_button--right {
    right: -40px;
}

.carousel_button img {
    width: 25px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: lightgray;
    margin: 0 10px;
    cursor: pointer;
}

.carousel_indicator .current-slide {
    background: darkgrey;
}

.is-hidden {
    display: none;
}


p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: helvetica, arial;    
}

.pitcher-photo {
    max-width: 250px;
}
.passion-photo {
    max-width: 250px;
}
.rose-photo {
    max-width: 250px;
}